
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


c#101/console-programlama/bin
c#101/console-programlama/obj

c#101/degiskenler/.vscode
c#101/degiskenler/bin
c#101/degiskenler/obj

c#101/operatorler/bin
c#101/operatorler/obj


git101/picture

